In [145]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import time
import urllib

In [146]:
!which chromedriver

/c/Users/slimp/bin/chromedriver

In [147]:
executable_path = {"executable_path":r"C:/Users/slimp/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [148]:
url_news = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [149]:
browser.visit(url_news)

In [150]:
html = browser.html
soup = bs(html,"html.parser")

In [151]:
news_title= soup.find("div", class_="content_title").text
news_title

"Mars InSight's 'Mole' Is Moving Again"

In [152]:
news_p = soup.find("div", class_ ="article_teaser_body").text
news_p

"The NASA lander's robotic arm seems to have helped its heat probe burrow almost 2 centimeters (3/4 of an inch) since last week."

In [153]:
#JPL Mars Space Images - Featured Image
url_image= "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [154]:
html = browser.html
soup = bs(html,"html.parser")

In [155]:
main_url = "https://www.jpl.nasa.gov"
jpl_image = soup.find('a', class_='fancybox')
featured_image_url= main_url+jpl_image["data-fancybox-href"]
print(jpl_image)

<a class="button fancybox" data-description="This view shows the patch of veined, flat-lying rock selected as the first drilling site for NASA's Mars rover Curiosity." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA16567_ip.jpg" data-link="/spaceimages/details.php?id=PIA16567" data-title="'John Klein' Site Selected for Curiosity's Drill Debut" id="full_image">
					FULL IMAGE
				  </a>

In [156]:
#Mars Weather
twitter_url="https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

In [157]:
html = browser.html
soup = bs(html, "html.parser")

In [158]:
#mars_weather = soup.find('p', class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars_weather = soup.find(class_ = "tweet-text").text
mars_weather

'InSight sol 314 (2019-10-15) low -102.8ºC (-153.0ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 4.9 m/s (11.1 mph) gusting to 19.7 m/s (44.0 mph)\npressure at 7.20 hPapic.twitter.com/VONawbIeG4'

In [159]:
#Mars Facts
url_facts = "https://space-facts.com/mars/"
browser.visit(url_facts)

In [160]:
html = browser.html
soup = bs(html, "html.parser")

In [161]:
tables = pd.read_html(url_facts)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [162]:
tables=pd.DataFrame(tables[1])
table_html = tables.to_html(header = False, index = False)
print(table_html)

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [163]:
tables.columns = ['Properties', 'Value']
tables.set_index('Properties')
#table_df= table_info

#table_df=pd.read_html(table_df)
#table_df

                                              Value
Properties
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [164]:
#table_df.dtypes
#table_cols = ["0", "1", "3"]
#table_transformed= table_df[table_cols].copy()
#table_transformed = table_transformed.rename(columns={"0": "Attr",
                                                         # "1": "mars"})
#table_cols.dtypes
#table_transformed.head()

print(tables)
#table_info.head

             Properties                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [192]:
#Mars Hemispheres
url_Hemispheres = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
url_Home= "https://astrogeology.usgs.gov"
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(url_Hemispheres)
time.sleep(3)

In [193]:
html = browser.html
soup = bs(html, "html.parser")

In [194]:
hemisphere_image_urls = []
result = soup.find("div", class_ ="description")
holder = {}
parser = 1
#result

In [195]:
h_file = soup.find_all("div", class_="item")
h_file

[<div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p></div> <!-- end description --></div>,
 <div class="item"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a><div class="description"><a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a><span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/><p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p></div> <!-- end description --></div>]

In [196]:
##

In [199]:
for h in h_file:
    title = h.find("h3").text
    title = title.replace("Enhanced", "")
    main_url = url_Home + h.find("a")["href"]    
    browser.visit(main_url)
    html = browser.html
    time.sleep(3)
    soup=bs(html, "html.parser")
    #image_link = soup.find("div", class_="downloads")
    main_img = soup.find('img',  class_="wide-image")
    hemisphere_img = url_Home+main_img["src"]
    hemisphere_image_urls.append({"title": title, "img_url": hemisphere_img})
    holder['title'+str(parser)] = title
    holder['img_url'+str(parser)] = hemisphere_img
    parser += 1

In [200]:
hemisphere_image_urls
holder

{'title1': 'Cerberus Hemisphere ',
 'img_url1': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
 'title2': 'Schiaparelli Hemisphere ',
 'img_url2': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
 'title3': 'Syrtis Major Hemisphere ',
 'img_url3': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
 'title4': 'Valles Marineris Hemisphere ',
 'img_url4': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}